.btn {
    width: 100%;
    max-width: 160px;
    color: #c0c0bf8a;
    height: 40px;
    font-size: $sub-text-large;
    display: block;
    border-radius: 10px;
    background-color: $theme-color;
    border: none;
    cursor: pointer;
    &:active {
        transform: scale(0.97);
    }
    &:hover {
        box-shadow: 0 0px 4px 1px #c0c0bf8a;
    }

    @include respond-to(midle) {
        font-size: $sub-text-midle;
        max-width: 150px;
        height: 40px;
    }

    @include respond-to(mobile) {
        font-size: $sub-text-mobile;
        max-width: 130px;
        height: 35px;
    }
}
