.controls-todos {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        width: 100%;
        max-width: 450px;
        height: 70px;
        border-radius: 15px;
        border: 1px solid $color-2;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: $color-theme;
        color: $color-2;
        padding: 20px;
        margin-bottom: 15px;

        &_title {
            font-size: $sub-text-large;
            white-space: nowrap;
            overflow: hidden;
            pointer-events: none;

            @include respond-to(midle) {
                font-size: $sub-text-midle;
            }

            @include respond-to(mobile) {
                font-size: $sub-text-mobile;
            }
        }

        &-action {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            flex-shrink: 0;

            &:hover {
                transform: scale(1.1);
            }

            &.status {
                background-image: url('../../../../../assets/check.png');
                background-color: $color-1;
            }

            &.edit {
                margin-left: auto;
                background-image: url('../../../../../assets/pen.png');
                visibility: hidden;
            }

            &.remove {
                background-image: url('../../../../../assets/remove.png');
                visibility: hidden;
            }

            @include respond-to(midle) {
                width: 30px;
                height: 30px;
            }

            @include respond-to(mobile) {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0px 4px 5px $color-2;

            .remove,
            .edit {
                visibility: visible;
            }
        }

        @include respond-to(midle) {
            font-size: $text-midle;
            padding: 15px;
            height: 65px;
        }

        @include respond-to(mobile) {
            font-size: $text-mobile;
            padding: 10px;
            height: 60px;
        }
    }

    &__notice {
        font-size: $text-midle;
    }
}
