$color-1: #ffffff;
$color-2: #7a7a7a;
$color-3: #c0c0bf8a;
$color-4: #56221e;
$color-5: #99befa;
$color-6: #f78090;
$color-7: #000000;
$color-8: #8ae206;
$color-9: #000000b3;

$color-gray: #c0c0bf8a;
$color-red: #f78090;
$color-yellow: #a1a10c;
