$title-large: 3rem;
$title-midle: 2.5rem;
$title-mobile: 2rem;

$text-large: 2.3rem;
$text-midle: 1.8rem;
$text-mobile: 1.2rem;

$sub-text-large: 1.8rem;
$sub-text-midle: 1.4rem;
$sub-text-mobile: 1rem;
