@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './constants/colors';
@import './mixin/adaptive';
@import './constants/font-size';
@import './components/input';
@import './components/textarea';
@import './components/button';
@import './login/page-login';
@import './content/header/header';
@import './content/main/main-layout';
@import './components/modal';

html * {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

.done {
    text-decoration: line-through $color-7;
    .status {
        background-color: $color-8;
    }
}

.form-container__field.invalid {
    .form-container__field_label {
        color: $color-4;
    }
    input {
        border: 1.5px solid $color-4;
        box-shadow: 0 0px 10px 1px $color-4;
    }
    & .warning {
        color: $color-4;
        font-size: $sub-text-mobile;
    }
}

.modal__field.invalid {
    input,
    textarea {
        border: 1.5px solid $color-4 !important;
        box-shadow: 0 0px 10px 1px $color-4;
    }
    & .warning {
        color: $color-4;
        font-size: $sub-text-mobile;
    }
}

.yellow {
    .main__header,
    .btn_add,
    .controls-todos__item {
        background-color: $color-yellow;
    }
}

.gray {
    .main__header,
    .btn_add,
    .controls-todos__item {
        background-color: $color-gray;
    }
}

.red {
    .main__header,
    .btn_add,
    .controls-todos__item {
        background-color: $color-red;
    }
}
