@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './constants/theme-colors';
@import './mixin/adaptive';
@import './constants/font-size';
@import './components/button';
@import './components/modal';
@import './components/notification';
@import './pages/authorization';
@import './pages/application';

html {
    height: 100%;
    & * {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 400;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    & body {
        height: 100%;
    }
}

.hide {
    display: none !important;
}
